# --- ROS 2 / Colcon 相关 ---
install/
build/
log/
.catkin_tools/

# --- 编译中间产物 ---
*.o
*.obj
*.so
*.a
*.lib
*.exe
*.out

# --- CMake 产生的临时文件 ---
CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
Makefile
_CPack_Packages/
CPackConfig.cmake
CPackSourceConfig.cmake

# --- 编辑器与 IDE ---
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# --- 编译数据库 (用于 Clangd 或 VSCode 跳转) ---
compile_commands.json